In [25]:
from tensorflow.keras.applications.vgg16 import VGG16,preprocess_input

import pandas as pd

In [26]:
pretrained_model=VGG16(weights="imagenet")

In [27]:
labels=pd.read_json('imagenet-simple-labels.json')

In [28]:
labels.columns=['Classes']

In [29]:
labels

               Classes
0                tench
1             goldfish
2    great white shark
3          tiger shark
4     hammerhead shark
..                 ...
995         earth star
996   hen-of-the-woods
997             bolete
998                ear
999       toilet paper

[1000 rows x 1 columns]

In [30]:
from keras.preprocessing.image import load_img
import numpy as np

In [31]:
img=load_img('bird1.jfif',target_size=(224,224))

In [32]:

newimg=np.array(img)
newimg=preprocess_input(newimg)

In [33]:
newimg=newimg.reshape(1,224,224,3)

In [34]:
preds=pretrained_model.predict(newimg)

1/1 [==============================] - 1s 565ms/step

In [35]:
labels['probability']=np.round(preds.flatten(),2)

In [36]:
labels.sort_values('probability',ascending=False)

           Classes  probability
16          bulbul         0.33
18          magpie         0.26
91          coucal         0.10
93        hornbill         0.05
21            kite         0.03
..             ...          ...
349  bighorn sheep         0.00
350    Alpine ibex         0.00
351     hartebeest         0.00
352         impala         0.00
999   toilet paper         0.00

[1000 rows x 2 columns]

In [37]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import matplotlib.pyplot as plt
import glob

In [38]:
baseline_model=Sequential()

In [39]:
for layer in pretrained_model.layers[:-1]:
    layer.trainable=False
    baseline_model.add(layer)

In [40]:
baseline_model.add(Dense(1,activation="sigmoid"))

In [41]:
baseline_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 block1_conv1 (Conv2D)       (None, 224, 224, 64)      1792

 block1_conv2 (Conv2D)       (None, 224, 224, 64)      36928

 block1_pool (MaxPooling2D)  (None, 112, 112, 64)      0

 block2_conv1 (Conv2D)       (None, 112, 112, 128)     73856

 block2_conv2 (Conv2D)       (None, 112, 112, 128)     147584

 block2_pool (MaxPooling2D)  (None, 56, 56, 128)       0

 block3_conv1 (Conv2D)       (None, 56, 56, 256)       295168

 block3_conv2 (Conv2D)       (None, 56, 56, 256)       590080

 block3_conv3 (Conv2D)       (None, 56, 56, 256)       590080

 block3_pool (MaxPooling2D)  (None, 28, 28, 256)       0

 block4_conv1 (Conv2D)       (None, 28, 28, 512)       1180160

 block4_conv2 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_conv3 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 14, 14, 512)       0

 block5_conv1 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv2 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv3 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 7, 7, 512)         0

 flatten (Flatten)           (None, 25088)             0

 fc1 (Dense)                 (None, 4096)              102764544

 fc2 (Dense)                 (None, 4096)              16781312

 dense_1 (Dense)             (None, 1)                 4097

=================================================================
Total params: 134264641 (512.18 MB)
Trainable params: 4097 (16.00 KB)
Non-trainable params: 134260544 (512.16 MB)
_________________________________________________________________

In [42]:
path="cars/*"

In [43]:
import glob

folder_path = "cars/*"
contents = glob.glob(folder_path + '/*')

for item in glob.glob(folder_path):
    print(item)

cars\1.jpg
cars\10.jpg
cars\11.jpg
cars\12.jpg
cars\13.jpg
cars\14.jpg
cars\15.jpg
cars\16.jpg
cars\17.jpg
cars\18.jpg
cars\19.jpg
cars\2.jpg
cars\20.jpg
cars\21.jpg
cars\22.jpg
cars\23.jpg
cars\24.jpg
cars\25.jpg
cars\26.jpg
cars\27.jpg
cars\28.jpg
cars\29.jpg
cars\3.jpg
cars\30.jpg
cars\31.jpg
cars\32.jpg
cars\33.jpg
cars\34.jpg
cars\35.jpg
cars\36.jpg
cars\37.jpg
cars\38.jpg
cars\39.jpg
cars\4.jpg
cars\40.jpg
cars\41.jpg
cars\42.jpg
cars\43.jpg
cars\44.jpg
cars\45.jpg
cars\46.jpg
cars\47.jpg
cars\48.jpg
cars\49.jpg
cars\5.jpg
cars\50.jpg
cars\6.jpg
cars\7.jpg
cars\8.jpg
cars\9.jpg

In [44]:
xtrain=list()
ytrain=list()
for img_path in glob.glob(folder_path):
    input_img=load_img(img_path,target_size=(224,224))
    input_img=np.array(input_img)
    input_img=preprocess_input(input_img)
    xtrain.append(input_img)
    ytrain.append(0)

In [45]:
planes = "planes/*"
for img_path in glob.glob(planes):
    input_img=load_img(img_path,target_size=(224,224))
    input_img=np.array(input_img)
    input_img=preprocess_input(input_img)
    xtrain.append(input_img)
    ytrain.append(1)

In [46]:
xtrain=np.array(xtrain)
ytrain=np.array(ytrain)

In [47]:
baseline_model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])
baseline_model.fit(x=xtrain,y=ytrain,epochs=10,validation_split=0.2)

Epoch 1/10
3/3 [==============================] - 33s 12s/step - loss: 0.5338 - accuracy: 0.7250 - val_loss: 0.1094 - val_accuracy: 1.0000
Epoch 2/10
3/3 [==============================] - 35s 12s/step - loss: 0.0528 - accuracy: 1.0000 - val_loss: 0.0470 - val_accuracy: 1.0000
Epoch 3/10
3/3 [==============================] - 30s 10s/step - loss: 0.0123 - accuracy: 1.0000 - val_loss: 0.0216 - val_accuracy: 1.0000
Epoch 4/10
3/3 [==============================] - 32s 10s/step - loss: 0.0045 - accuracy: 1.0000 - val_loss: 0.0119 - val_accuracy: 1.0000
Epoch 5/10
3/3 [==============================] - 30s 11s/step - loss: 0.0021 - accuracy: 1.0000 - val_loss: 0.0074 - val_accuracy: 1.0000
Epoch 6/10
3/3 [==============================] - 33s 12s/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0052 - val_accuracy: 1.0000
Epoch 7/10
3/3 [==============================] - 28s 9s/step - loss: 9.4398e-04 - accuracy: 1.0000 - val_loss: 0.0040 - val_accuracy: 1.0000
Epoch 8/10
3/3 [==============================] - 39s 14s/step - loss: 6.7203e-04 - accuracy: 1.0000 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 9/10
3/3 [==============================] - 36s 11s/step - loss: 5.4761e-04 - accuracy: 1.0000 - val_loss: 0.0028 - val_accuracy: 1.0000
Epoch 10/10
3/3 [==============================] - 32s 10s/step - loss: 4.5532e-04 - accuracy: 1.0000 - val_loss: 0.0026 - val_accuracy: 1.0000

In [49]:
img_path='plane_test.jpg'
input_img=load_img(img_path,target_size=(224,224))
input_img=np.array(input_img)
input_img=preprocess_input(input_img)
input_img=input_img.reshape(1,224,224,3)

In [50]:
preds=baseline_model.predict(input_img)
print(preds)

1/1 [==============================] - 0s 427ms/step
[[0.99999994]]

### feature extraction using pretrained model

In [52]:
pretrained_model=VGG16(weights="imagenet")
new_model=Sequential()

In [55]:
for layer in pretrained_model.layers[:-1]:
    layer.trainable=False
    new_model.add(layer)

In [56]:
new_model.build()

In [57]:
m_image='kok.jpeg'

In [59]:
input_img=load_img(m_image,target_size=(224,224))
input_img=np.array(input_img)
input_img=preprocess_input(input_img)
input_img=input_img.reshape(1,224,224,3)

In [61]:
features=new_model.predict(input_img)

1/1 [==============================] - 0s 287ms/step

In [64]:
features.shape

(1, 4096)

In [66]:
new_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 block1_conv1 (Conv2D)       (None, 224, 224, 64)      1792

 block1_conv2 (Conv2D)       (None, 224, 224, 64)      36928

 block1_pool (MaxPooling2D)  (None, 112, 112, 64)      0

 block2_conv1 (Conv2D)       (None, 112, 112, 128)     73856

 block2_conv2 (Conv2D)       (None, 112, 112, 128)     147584

 block2_pool (MaxPooling2D)  (None, 56, 56, 128)       0

 block3_conv1 (Conv2D)       (None, 56, 56, 256)       295168

 block3_conv2 (Conv2D)       (None, 56, 56, 256)       590080

 block3_conv3 (Conv2D)       (None, 56, 56, 256)       590080

 block3_pool (MaxPooling2D)  (None, 28, 28, 256)       0

 block4_conv1 (Conv2D)       (None, 28, 28, 512)       1180160

 block4_conv2 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_conv3 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 14, 14, 512)       0

 block5_conv1 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv2 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv3 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 7, 7, 512)         0

 flatten (Flatten)           (None, 25088)             0

 fc1 (Dense)                 (None, 4096)              102764544

 fc2 (Dense)                 (None, 4096)              16781312

=================================================================
Total params: 134260544 (512.16 MB)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 134260544 (512.16 MB)
_________________________________________________________________